Applications/Android/jni/
Applications/Android/libs/
Applications/Android/obj/
Applications/Windows/Bin/Debug/
Applications/Windows/Bin/Release/
Applications/Windows/Bin/x64/
*.db
*.db-shm
*.db-wal
*.ipch
*.opensdf
*.sdf
*.suo
*.opendb
*.avi
